include dist3/Basilisk/architecture\_alg_contain.pyd
include dist3/Basilisk/architecture\_avsLibrarySelfCheck.pyd
include dist3/Basilisk/architecture\_bskLogging.pyd
include dist3/Basilisk/architecture\_bskUtilities.pyd
include dist3/Basilisk/architecture\_BSpline.pyd
include dist3/Basilisk/architecture\_keplerianOrbit.pyd
include dist3/Basilisk/architecture\_moduleIdGenerator.pyd
include dist3/Basilisk/architecture\_py_sys_model.pyd
include dist3/Basilisk/architecture\_sim_model.pyd
include dist3/Basilisk/architecture\_swigDeprecatedCheck.pyd
include dist3/Basilisk/architecture\_swigEigenCheck.pyd
include dist3/Basilisk/architecture\_swig_common_model.pyd
include dist3/Basilisk/architecture\_swig_conly_data.pyd
include dist3/Basilisk/architecture\_swig_c_wrap.pyd
include dist3/Basilisk/architecture\_swig_deprecated.pyd
include dist3/Basilisk/architecture\_swig_eigen.pyd
include dist3/Basilisk/architecture\_swig_std_array.pyd
include dist3/Basilisk/architecture\_sys_model.pyd
include dist3/Basilisk/architecture\_sys_model_task.pyd
include dist3/Basilisk/architecture\messaging\_AccDataMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_AccessMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_AccPktDataMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_AlbedoMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_ArrayEffectorLockMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_ArrayMotorForceMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_ArrayMotorTorqueMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_ArrayMotorVoltageMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_AtmoPropsMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_AttGuidMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_AttRefMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_AttStateMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_BodyHeadingMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_BoreAngleMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CameraConfigMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CameraImageMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_ChargeMsmMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_ClassicElementsMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CmdForceBodyMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CmdForceInertialMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CmdTorqueBodyMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CMEstDataMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CModuleTemplateMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_ColorMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CSSArraySensorMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CSSConfigLogMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CSSConfigMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CSSRawDataMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_CSSUnitConfigMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_DataNodeUsageMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_DataStorageStatusMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_DeviceCmdMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_DeviceStatusMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_DipoleRequestBodyMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_DvBurnCmdMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_DvExecutionDataMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_EclipseMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_EphemerisMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_EpochMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_FuelTankMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_GravityGradientMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_GroundStateMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_HeadingFilterMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_HillRelStateMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_HingedRigidBodyMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_IMUSensorBodyMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_IMUSensorMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_InertialFilterMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_InertialHeadingMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_LandmarkMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_LinearTranslationRigidBodyMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_MagneticFieldMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_MTBArrayConfigMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_MTBCmdMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_MTBMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_NavAttMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_NavTransMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_OpNavCirclesMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_OpNavFilterMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_OpNavLimbMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_OpNavMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_PixelLineFilterMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_PlasmaFluxMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_PowerNodeStatusMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_PowerNodeUsageMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_PowerStorageStatusMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_PrescribedMotionMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_PrescribedRotationMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_PrescribedTranslationMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_PyBatteryMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_RateCmdMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_RealTimeFactorMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_ReconfigBurnArrayInfoMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_ReconfigBurnInfoMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_RWArrayConfigMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_RWAvailabilityMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_RWCmdMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_RWConfigElementMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_RWConfigLogMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_RWConfigMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_RWConstellationMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_RWSpeedMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SCEnergyMomentumMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SCMassPropsMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SCStatesMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SmallBodyNavMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SmallBodyNavUKFMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SolarFluxMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SpicePlanetStateMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SpiceTimeMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_STAttMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_STSensorMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SunlineFilterMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SwDataMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_SynchClockMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_TAMSensorBodyMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_TAMSensorMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_TDBVehicleClockCorrelationMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_TemperatureMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_THRArrayCmdForceMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_THRArrayConfigMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_THRArrayOnTimeCmdMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_THRConfigMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_THROutputMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_TransRefMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_TypesTestMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_VehicleConfigMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_VoltMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_VSCMGArrayTorqueMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_VSCMGCmdMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_VSCMGConfigMsgPayload.pyd
include dist3/Basilisk/architecture\messaging\_VSCMGSpeedMsgPayload.pyd
include dist3/Basilisk/fswAlgorithms\_attRefCorrection.pyd
include dist3/Basilisk/fswAlgorithms\_attTrackingError.pyd
include dist3/Basilisk/fswAlgorithms\_celestialTwoBodyPoint.pyd
include dist3/Basilisk/fswAlgorithms\_chebyPosEphem.pyd
include dist3/Basilisk/fswAlgorithms\_constrainedAttitudeManeuver.pyd
include dist3/Basilisk/fswAlgorithms\_cssComm.pyd
include dist3/Basilisk/fswAlgorithms\_cssWlsEst.pyd
include dist3/Basilisk/fswAlgorithms\_dipoleMapping.pyd
include dist3/Basilisk/fswAlgorithms\_dvAccumulation.pyd
include dist3/Basilisk/fswAlgorithms\_dvAttEffect.pyd
include dist3/Basilisk/fswAlgorithms\_dvExecuteGuidance.pyd
include dist3/Basilisk/fswAlgorithms\_dvGuidance.pyd
include dist3/Basilisk/fswAlgorithms\_ephemDifference.pyd
include dist3/Basilisk/fswAlgorithms\_ephemNavConverter.pyd
include dist3/Basilisk/fswAlgorithms\_etSphericalControl.pyd
include dist3/Basilisk/fswAlgorithms\_eulerRotation.pyd
include dist3/Basilisk/fswAlgorithms\_faultDetection.pyd
include dist3/Basilisk/fswAlgorithms\_forceTorqueThrForceMapping.pyd
include dist3/Basilisk/fswAlgorithms\_formationBarycenter.pyd
include dist3/Basilisk/fswAlgorithms\_headingSuKF.pyd
include dist3/Basilisk/fswAlgorithms\_hillPoint.pyd
include dist3/Basilisk/fswAlgorithms\_hillStateConverter.pyd
include dist3/Basilisk/fswAlgorithms\_hillToAttRef.pyd
include dist3/Basilisk/fswAlgorithms\_hingedRigidBodyPIDMotor.pyd
include dist3/Basilisk/fswAlgorithms\_horizonOpNav.pyd
include dist3/Basilisk/fswAlgorithms\_imuComm.pyd
include dist3/Basilisk/fswAlgorithms\_inertial3D.pyd
include dist3/Basilisk/fswAlgorithms\_inertial3DSpin.pyd
include dist3/Basilisk/fswAlgorithms\_inertialUKF.pyd
include dist3/Basilisk/fswAlgorithms\_locationPointing.pyd
include dist3/Basilisk/fswAlgorithms\_lowPassFilterTorqueCommand.pyd
include dist3/Basilisk/fswAlgorithms\_meanOEFeedback.pyd
include dist3/Basilisk/fswAlgorithms\_mrpFeedback.pyd
include dist3/Basilisk/fswAlgorithms\_mrpPD.pyd
include dist3/Basilisk/fswAlgorithms\_mrpRotation.pyd
include dist3/Basilisk/fswAlgorithms\_mrpSteering.pyd
include dist3/Basilisk/fswAlgorithms\_mtbFeedforward.pyd
include dist3/Basilisk/fswAlgorithms\_mtbMomentumManagement.pyd
include dist3/Basilisk/fswAlgorithms\_mtbMomentumManagementSimple.pyd
include dist3/Basilisk/fswAlgorithms\_navAggregate.pyd
include dist3/Basilisk/fswAlgorithms\_oeStateEphem.pyd
include dist3/Basilisk/fswAlgorithms\_okeefeEKF.pyd
include dist3/Basilisk/fswAlgorithms\_oneAxisSolarArrayPoint.pyd
include dist3/Basilisk/fswAlgorithms\_opNavPoint.pyd
include dist3/Basilisk/fswAlgorithms\_pixelLineBiasUKF.pyd
include dist3/Basilisk/fswAlgorithms\_pixelLineConverter.pyd
include dist3/Basilisk/fswAlgorithms\_prescribedRot1DOF.pyd
include dist3/Basilisk/fswAlgorithms\_prescribedRot2DOF.pyd
include dist3/Basilisk/fswAlgorithms\_prescribedTrans.pyd
include dist3/Basilisk/fswAlgorithms\_prvSteering.pyd
include dist3/Basilisk/fswAlgorithms\_rasterManager.pyd
include dist3/Basilisk/fswAlgorithms\_rateMsgConverter.pyd
include dist3/Basilisk/fswAlgorithms\_rateServoFullNonlinear.pyd
include dist3/Basilisk/fswAlgorithms\_relativeODuKF.pyd
include dist3/Basilisk/fswAlgorithms\_rwConfigData.pyd
include dist3/Basilisk/fswAlgorithms\_rwMotorTorque.pyd
include dist3/Basilisk/fswAlgorithms\_rwMotorVoltage.pyd
include dist3/Basilisk/fswAlgorithms\_rwNullSpace.pyd
include dist3/Basilisk/fswAlgorithms\_scanningInstrumentController.pyd
include dist3/Basilisk/fswAlgorithms\_simpleDeadband.pyd
include dist3/Basilisk/fswAlgorithms\_simpleInstrumentController.pyd
include dist3/Basilisk/fswAlgorithms\_smallBodyNavEKF.pyd
include dist3/Basilisk/fswAlgorithms\_smallBodyNavUKF.pyd
include dist3/Basilisk/fswAlgorithms\_smallBodyWaypointFeedback.pyd
include dist3/Basilisk/fswAlgorithms\_solarArrayReference.pyd
include dist3/Basilisk/fswAlgorithms\_spacecraftPointing.pyd
include dist3/Basilisk/fswAlgorithms\_spacecraftReconfig.pyd
include dist3/Basilisk/fswAlgorithms\_stComm.pyd
include dist3/Basilisk/fswAlgorithms\_sunlineEKF.pyd
include dist3/Basilisk/fswAlgorithms\_sunlineEphem.pyd
include dist3/Basilisk/fswAlgorithms\_sunlineSEKF.pyd
include dist3/Basilisk/fswAlgorithms\_sunlineSuKF.pyd
include dist3/Basilisk/fswAlgorithms\_sunlineUKF.pyd
include dist3/Basilisk/fswAlgorithms\_sunSafeACS.pyd
include dist3/Basilisk/fswAlgorithms\_sunSafePoint.pyd
include dist3/Basilisk/fswAlgorithms\_tamComm.pyd
include dist3/Basilisk/fswAlgorithms\_thrFiringRemainder.pyd
include dist3/Basilisk/fswAlgorithms\_thrFiringSchmitt.pyd
include dist3/Basilisk/fswAlgorithms\_thrForceMapping.pyd
include dist3/Basilisk/fswAlgorithms\_thrMomentumDumping.pyd
include dist3/Basilisk/fswAlgorithms\_thrMomentumManagement.pyd
include dist3/Basilisk/fswAlgorithms\_thrustCMEstimation.pyd
include dist3/Basilisk/fswAlgorithms\_thrusterPlatformReference.pyd
include dist3/Basilisk/fswAlgorithms\_thrusterPlatformState.pyd
include dist3/Basilisk/fswAlgorithms\_thrustRWDesat.pyd
include dist3/Basilisk/fswAlgorithms\_torque2Dipole.pyd
include dist3/Basilisk/fswAlgorithms\_torqueScheduler.pyd
include dist3/Basilisk/fswAlgorithms\_vehicleConfigData.pyd
include dist3/Basilisk/fswAlgorithms\_velocityPoint.pyd
include dist3/Basilisk/fswAlgorithms\_waypointReference.pyd
include dist3/Basilisk/moduleTemplates\_autoCModule.pyd
include dist3/Basilisk/moduleTemplates\_autoCppModule.pyd
include dist3/Basilisk/moduleTemplates\_cModuleTemplate.pyd
include dist3/Basilisk/moduleTemplates\_cppModuleTemplate.pyd
include dist3/Basilisk/simulation\_albedo.pyd
include dist3/Basilisk/simulation\_boreAngCalc.pyd
include dist3/Basilisk/simulation\_coarseSunSensor.pyd
include dist3/Basilisk/simulation\_constraintDynamicEffector.pyd
include dist3/Basilisk/simulation\_dataFileToViz.pyd
include dist3/Basilisk/simulation\_dentonFluxModel.pyd
include dist3/Basilisk/simulation\_dragDynamicEffector.pyd
include dist3/Basilisk/simulation\_dualHingedRigidBodyStateEffector.pyd
include dist3/Basilisk/simulation\_eclipse.pyd
include dist3/Basilisk/simulation\_encoder.pyd
include dist3/Basilisk/simulation\_ephemerisConverter.pyd
include dist3/Basilisk/simulation\_exponentialAtmosphere.pyd
include dist3/Basilisk/simulation\_extForceTorque.pyd
include dist3/Basilisk/simulation\_ExtPulsedTorque.pyd
include dist3/Basilisk/simulation\_facetDragDynamicEffector.pyd
include dist3/Basilisk/simulation\_facetSRPDynamicEffector.pyd
include dist3/Basilisk/simulation\_fuelTank.pyd
include dist3/Basilisk/simulation\_gravityEffector.pyd
include dist3/Basilisk/simulation\_GravityGradientEffector.pyd
include dist3/Basilisk/simulation\_gravityModel.pyd
include dist3/Basilisk/simulation\_groundLocation.pyd
include dist3/Basilisk/simulation\_groundMapping.pyd
include dist3/Basilisk/simulation\_hingedBodyLinearProfiler.pyd
include dist3/Basilisk/simulation\_hingedRigidBodyMotor.pyd
include dist3/Basilisk/simulation\_hingedRigidBodyMotorSensor.pyd
include dist3/Basilisk/simulation\_hingedRigidBodyStateEffector.pyd
include dist3/Basilisk/simulation\_imuSensor.pyd
include dist3/Basilisk/simulation\_linearSpringMassDamper.pyd
include dist3/Basilisk/simulation\_linearTranslationOneDOFStateEffector.pyd
include dist3/Basilisk/simulation\_magneticFieldCenteredDipole.pyd
include dist3/Basilisk/simulation\_magneticFieldWMM.pyd
include dist3/Basilisk/simulation\_magnetometer.pyd
include dist3/Basilisk/simulation\_mappingInstrument.pyd
include dist3/Basilisk/simulation\_motorThermal.pyd
include dist3/Basilisk/simulation\_motorVoltageInterface.pyd
include dist3/Basilisk/simulation\_msisAtmosphere.pyd
include dist3/Basilisk/simulation\_msmForceTorque.pyd
include dist3/Basilisk/simulation\_MtbEffector.pyd
include dist3/Basilisk/simulation\_nHingedRigidBodyStateEffector.pyd
include dist3/Basilisk/simulation\_orbElemConvert.pyd
include dist3/Basilisk/simulation\_partitionedStorageUnit.pyd
include dist3/Basilisk/simulation\_pinholeCamera.pyd
include dist3/Basilisk/simulation\_planetEphemeris.pyd
include dist3/Basilisk/simulation\_planetHeading.pyd
include dist3/Basilisk/simulation\_planetNav.pyd
include dist3/Basilisk/simulation\_pointMassGravityModel.pyd
include dist3/Basilisk/simulation\_polyhedralGravityModel.pyd
include dist3/Basilisk/simulation\_prescribedLinearTranslation.pyd
include dist3/Basilisk/simulation\_prescribedMotionStateEffector.pyd
include dist3/Basilisk/simulation\_prescribedRotation1DOF.pyd
include dist3/Basilisk/simulation\_radiationPressure.pyd
include dist3/Basilisk/simulation\_ReactionWheelPower.pyd
include dist3/Basilisk/simulation\_reactionWheelStateEffector.pyd
include dist3/Basilisk/simulation\_sensorThermal.pyd
include dist3/Basilisk/simulation\_simpleBattery.pyd
include dist3/Basilisk/simulation\_simpleInstrument.pyd
include dist3/Basilisk/simulation\_simpleMassProps.pyd
include dist3/Basilisk/simulation\_simpleNav.pyd
include dist3/Basilisk/simulation\_simplePowerMonitor.pyd
include dist3/Basilisk/simulation\_simplePowerSink.pyd
include dist3/Basilisk/simulation\_simpleSolarPanel.pyd
include dist3/Basilisk/simulation\_simpleStorageUnit.pyd
include dist3/Basilisk/simulation\_simpleTransmitter.pyd
include dist3/Basilisk/simulation\_simpleVoltEstimator.pyd
include dist3/Basilisk/simulation\_simSynch.pyd
include dist3/Basilisk/simulation\_solarFlux.pyd
include dist3/Basilisk/simulation\_spacecraft.pyd
include dist3/Basilisk/simulation\_spacecraftLocation.pyd
include dist3/Basilisk/simulation\_spacecraftSystem.pyd
include dist3/Basilisk/simulation\_spaceToGroundTransmitter.pyd
include dist3/Basilisk/simulation\_sphericalHarmonicsGravityModel.pyd
include dist3/Basilisk/simulation\_sphericalPendulum.pyd
include dist3/Basilisk/simulation\_spiceInterface.pyd
include dist3/Basilisk/simulation\_spinningBodyNDOFStateEffector.pyd
include dist3/Basilisk/simulation\_spinningBodyOneDOFStateEffector.pyd
include dist3/Basilisk/simulation\_spinningBodyTwoDOFStateEffector.pyd
include dist3/Basilisk/simulation\_starTracker.pyd
include dist3/Basilisk/simulation\_stateArchitecture.pyd
include dist3/Basilisk/simulation\_svIntegrators.pyd
include dist3/Basilisk/simulation\_tabularAtmosphere.pyd
include dist3/Basilisk/simulation\_tempMeasurement.pyd
include dist3/Basilisk/simulation\_thrusterDynamicEffector.pyd
include dist3/Basilisk/simulation\_thrusterStateEffector.pyd
include dist3/Basilisk/simulation\_vizInterface.pyd
include dist3/Basilisk/simulation\_vscmgStateEffector.pyd
include dist3/Basilisk/topLevelModules\_pyswice.pyd
